.layout {
}

/* .details{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 12px;
}
.details label{
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.details h2{
    font-size: 30px;
    color: #37AE57;
    margin-bottom: 28px;
}
.details .input, .details textarea, .details .select{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.details .button{
    background: #37AE57;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
    display: block;
    margin-left: 70px; 
    width: 70%;
    margin-top: 20px;
} */
